*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

header{
    height: 100vh;
background-image: linear-gradient(to top, rgba(255, 241, 235, 0.5) 0%, rgba(172, 225, 249, 0.5) 100%), url(../Imágenes/imgppal.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    position: fixed;
    top: 30px;
    right: 30px;
background-color: white;
width: 40px;
height: 40px;
cursor: pointer;
border-radius: 10px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, rgb(253, 252, 251) 0%, rgb(226, 209, 195) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread{
   transform: translate(0);
}

.navegacion{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: white;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Formación Académica*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(161, 209, 224);
    margin-bottom: 40px;
    font-size: 40px;

}

.container-formacion{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap; 
}

.container-formacion img{
    width: 40%;
}

.formacionn{
    width: 45%;
}

.academica{
    margin-bottom: 20px;

}

.f-academica{
    color: rgb(161, 209, 224);
    margin-bottom: 7px;
}

.number{
    display: inline-block ;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/*Experiencia laboral*/

.experiencia-container{
    background: #f2f2f2;
}

.container-experiencia {
   display: flex;
   background: #f2f2f2;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap; 
}

.container-experiencia img{
    width: 40%;
}

.experienciaa{
    width: 45%;
}

.e-laboral{
    color: rgb(161, 209, 224);
    margin-bottom: 7px;
}

/*Información Adicional*/

.container-informacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
 }
 
 .container-informacion img{
     width: 40%;
 }
 
 .informacionn{
     width: 45%;
 }
 
 .i-adicional{
     color: rgb(161, 209, 224);
     margin-bottom: 7px;
 }
 

/*datos personales*/

.de-container{
    background: #f2f2f2;   
}


.container-de {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
 }
 
 .container-de img{
     width: 40%;
 }
 
 .dee{
     width: 45%;
 }
 
 .d-contacto{
     color: rgb(161, 209, 224);
     margin-bottom: 7px;
 }
 
 /*Contacto*/

 .container{
     text-align: center;
 }

/*Footer*/

footer{
    background: rgba(172, 225, 249, 0.5);
    padding-bottom: 0.1px;

}

.contact-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact{
    width: 40%;
    color: black;
}

.brand{
font-weight: 500;
font-size: 40px;
}

.brand + p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    color: black;

}

.icon:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(172, 225, 249, 0.5);
}

.social-media-icon + i{
    font-size: 40px;
    line-height: 60px;

}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 60px;
}


@media screen and (max-width:800px){
    .navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }

    .container-formacion img{
       width: 80%;
       margin-bottom: 40px;
    }

    .formacionn{
       width: 80%;
    }

    .academica{
      margin-bottom: 30px;  
    }

    .contact-footer{
        justify-content: center;
    }

    .social-media{
width: 80%;
justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
    }
}

@media screen and (max-widht:500px){
    
    .navegacion{
        width: 65vw;
    }

    .menu{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .social-media{
width: 100%;
    }


    .contact{
    width: 100%;
}
}