* {

    background-color: black;
}
main {

    width: 500px;
border-color: red;
border-radius: 20px;
border-style: solid;


}

#ac{

color: aquamarine;

}

aside{

    color: greenyellow;
    position: absolute;
    font-size: 100px;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: right;
    position: sticky;
}

h4{

width: 400px; height: 150px;
background-color: blueviolet;
border: 4px dotted;
padding: 40px;
margin: 58px;
display: inline-table;
text-align: center;
text-transform: uppercase;
font-size: 32px;
vertical-align: middle;
display: table-cell;

}


